@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-merriweather {
    font-family: "Merriweather Sans", sans-serif;
}

.btn-primary {
    background-color: #FF0000;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}



/* header styles */

header {
    background-image: url("../images/Banner\ Image.png");
    height: 600px;
    max-width: 1320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 16px;
}

.banner-content {
    color: #fff;
    text-align: center;
}

.banner-content>p {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-content>h2 {
    font-size: 72px;
    font-weight: 900;
}

/* main styles */
main {
    max-width: 1320px;
    margin: 120px auto;
}

.discount-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.discount-section>h2 {
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
}

.discount-section>p {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin: 48px 0px 16px 0px;
}

.discount-section>h3 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin-bottom: 48px;
}

/* midnight party section styles */
.midnight-party-section {
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 120px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.midnight-party-content {
    max-width: 700px;
    color: #fff;
}

.midnight-party-content>h2 {
    font-size: 64px;
    font-weight: 900;
}

.midnight-party-content>p {
    color: #FFFFFFCC;
    margin: 24px 0px 40px 0px;
}

#party-btn {
    background-color: #fff;
    color: black;
}

/* time line section styles */

.date-line-container {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 350px;
    border-radius: 16px;
}

.date-line-content>h4 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 550px;
    text-align: center;
}

.dateline-btn {
    text-align: center;
    margin-top: 50px;
}

.date-line-text-color {
    color: #FF0000;
    margin-right: 10px;
}

/* coming soon section styles */

.coming-soon-section {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.coming-soon-text {
    width: 400px;
}

.coming-soon-text .coming-soon-offer {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #FF0000;
}

.coming-soon-text>h3 {
    font-size: 48px;
    font-weight: 900;
    margin: 15px 0px 20px 0px;
}

.coming-soon-text>p, .coming-soon-year>p {
    color: #07021199;
}

.coming-soon-year {
    width: 280px;
    font-family: "Inter", sans-serif;
}

.coming-soon-year>h4 {
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 15px;
}

.coming-soon-profile{
    border: 15px solid #FF0000;
    border-radius: 100%;
    padding: 20px;
    display: flex;
}