@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-merriweather {
    font-family: "Merriweather Sans", sans-serif;
}

.btn-primary {
    background-color: #FF0000;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}



/* header styles */

header {
    background-image: url("../images/Banner\ Image.png");
    height: 600px;
    max-width: 1320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 16px;
}

.banner-content {
    color: #fff;
    text-align: center;
}

.banner-content>p {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-content>h2 {
    font-size: 72px;
    font-weight: 900;
}

/* main styles */
main {
    max-width: 1320px;
    margin: 120px auto;
}

.discount-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.discount-section>h2 {
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
}

.discount-section>p {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin: 48px 0px 16px 0px;
}

.discount-section>h3 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin-bottom: 48px;
}

/* midnight party section styles */
.midnight-party-section {
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 120px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.midnight-party-content {
    max-width: 700px;
    color: #fff;
}

.midnight-party-content>h2 {
    font-size: 64px;
    font-weight: 900;
}

.midnight-party-content>p {
    color: #FFFFFFCC;
    margin: 24px 0px 40px 0px;
}

#party-btn {
    background-color: #fff;
    color: black;
}

/* time line section styles */

.date-line-container {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 350px;
    border-radius: 16px;
}

.date-line-content>h4 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 550px;
    text-align: center;
}

.dateline-btn {
    text-align: center;
    margin-top: 50px;
}

.date-line-text-color {
    color: #FF0000;
    margin-right: 10px;
}

/* coming soon section styles */

.coming-soon-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.coming-soon-text {
    width: 400px;
}

.coming-soon-text .coming-soon-offer {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #FF0000;
}

.coming-soon-text>h3 {
    font-size: 48px;
    font-weight: 900;
    margin: 15px 0px 20px 0px;
}

.coming-soon-text>p,
.coming-soon-year>p {
    color: #07021199;
    line-height: 32px;
}

.coming-soon-year {
    width: 280px;
    font-family: "Inter", sans-serif;
}

.coming-soon-year>h4 {
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 15px;
}

.coming-soon-profile {
    border: 15px solid #FF0000;
    border-radius: 100%;
    padding: 20px;
    display: flex;
}

/* Holidays section styles */

.holidays-section {
    margin: 120px 0px;
}

.holiday-content {
    max-width: 1068px;
    margin: 0 auto;
    text-align: center;
}

.holiday-content>h5 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.holiday-content>h3 {
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0px 28px 0px;
}

.holiday-content>p {
    opacity: 70%;
    line-height: 32px;
}

#holidays {
    color: #FF0000;
}

/* gift table container styles */

.gift-table-container {
    width: 1320px;
    height: 660px;
    position: relative;
    margin: 65px 0px 165px 0px;
}

.red-table {
    width: 100%;
    height: 229px;
    background-color: #FF0000;
    border-radius: 16px 0px 16px 16px;
    position: absolute;
    top: 66%;
}

.gift img {
    width: 674px;
    position: absolute;
    z-index: 1;
    top: 20%;
}

.gril {
    position: relative;
}

.descount-img {
    position: absolute;
    right: 60%;
}

.gril img {
    width: 430px;
}

.gift-and-grile {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* porfolio images section styles */

.images-content {
    width: 890px;
}

.images-content>h5 {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}

.images-content>h3 {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px 22px 0px;
}

.images-content>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    opacity: 70%;
    font-family: "Inter", sans-serif;
}

.portfolio-images {
    margin: 50px 0px 120px 0px;
}

.images {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

/* news letter section styles */
.news-letter-container {
    background-color: beige;
    padding: 80px 210px;
    border-radius: 16px;
}

.news-letter-content {
    max-width: 890px;
    margin: 0 auto;
    text-align: center;
}

.news-letter-content>h3 {
    font-size: 48px;
    font-weight: 900;
    margin: 40px 0px 20px 0px;
}

.news-letter-content>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    opacity: 70%;
}

.news-letter-input {
    max-width: 650px;
    margin: 50px auto;
    display: flex;
}

#email-input {
    padding: 25px 30px;
    width: 70%;
    font-size: 20px;
    outline: none;
    background-color: #fff;
    opacity: 70%;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

#subscribe-btn {
    width: 30%;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF0000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
}

/* footer styles */

footer {
    background-color: #070211;
    color: #fff;
    padding: 120px 140px;
}

.foot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-address>p {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.icons {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 50px 0px;
}

.foot-end {
    display: flex;
    justify-content: space-between;
}

.foot-end>p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}